.was-validated{
  input{
    &:invalid{
        border: 1px solid #e21b1b !important;
    }
    &:valid{
          border: 1px solid #16cc2a !important;
    }
  }
}
.pointer{
  cursor:pointer;
  &:hover{
    color:#5bc0de !important;
  }
}
